<h1>New booking</h1>

<div style="margin-bottom: 20px;">
  <% if @account %>
    <%= link_to "Back to bookings", account_bookings_path(@account) %> |
    <%= link_to "Back to account", account_path(@account) %>
  <% else %>
    <%= link_to "Back to accounts", accounts_path %>
  <% end %>
</div>

<%= render "form", booking: @booking, form_url: @account ? account_bookings_path(@account) : nil, account: @account %>
