<div id="<%= dom_id animal %>">
  <p>
    <strong>Name:</strong>
    <%= animal.name %>
  </p>

  <p>
    <strong>Additional hour fee:</strong>
    <%= number_to_currency(animal.additional_hour_fee) %>
  </p>

</div>
