<h1>Editing <%= @animal.name %></h1>

<div style="margin-bottom: 20px;">
  <%= link_to "Show this animal", @animal %> |
  <%= link_to "Back to animals", account_animals_path(@animal.account) %>
</div>

<%= render "form", animal: @animal %>
