<h1>New animal</h1>

<%= render "form", animal: @animal, form_url: @account ? account_animals_path(@account) : nil %>

<br>

<div>
  <% if @account %>
    <%= link_to "Back to animals", account_animals_path(@account) %> |
    <%= link_to "Back to account", account_path(@account) %>
  <% else %>
    <%= link_to "Back to animals", animals_path %>
  <% end %>
</div>
